.card__item--green {
    color: rgb(127, 216, 88);
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.parking__info--red {
    border-bottom: 0.4rem solid rgb(243, 44, 44);
}