.card__item--green {
    color: rgb(127, 216, 88);
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.card__item--percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__item--blue {
    color: rgb(0, 108, 190);
    font-weight: 600;
    background: rgba(138, 227, 255, 0.8);
    border-radius: 10rem;
    text-align: center;
    width: 30%;
}

.parking__info--grey {
    border-top: 0.2rem solid #888;
}

@media (max-width: 600px) {
    .card__item--blue {
        width: 40%;
    }
}