.card__item--map {
    background-image: url('../../../assets/map__view_title.jpg');
    background-size: cover;
    background-position: center;
    width: 65rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    border-radius: 1rem;
}
