.card__item {
    padding: 2rem;
    margin: 1rem 1rem;
    box-shadow: 0 .8rem 2rem rgba(0,0,0,0.25);
    animation: moveUp 1s ease-out;
}

.card__item div {
    display: inline-block;
    width: 50%;
}

.card__item .card__item--blue {
    color: rgb(0, 145, 255);
    background: rgba(138, 227, 255, 0.8);
    border-radius: 10rem;
    text-align: center;
    width: 30%;
    transform: translateX(100%);
}

.card__item img {
    display: block;
    margin: auto;
    width: 42rem;
}

@media (max-width: 999px) {
    .card__item img {
        width: 40rem;
    }
}

@media (max-width: 551px) {
    .card__item img {
        width: 22rem;
    }
    .card__item .card__item--blue {
        position: relative;
        width: 30%;
    }
}
@media (max-width: 831px) {
    .card__item img {
        width: 50%;
    }
    .card__item div {
        width: 100%;
        display: block;
    }
    .card__item .card__item--blue {
        transform: none;
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}